ion-title {
    text-align: center;
}
.siglas-label {
    min-width: 28% !important;
    max-width: 28% !important;
}
.nombre-label {
    min-width: 35% !important;
    max-width: 35% !important;
}
.area-label {
    min-width: 35% !important;
    max-width: 35% !important;
}

.icon-add{
    width: 25px !important;
    height: 25px !important;
    align-items: center;
}