ion-title {
    text-align: center;
}
.id-label {
    min-width: 10% !important;
    max-width: 10% !important;
    text-align: left;
}
.siglas-label {
    min-width: 25% !important;
    max-width: 25% !important;
}
.nombre-label {
    min-width: 30% !important;
    max-width: 30% !important;
}
.correo-label {
    min-width: 55% !important;
    max-width: 55% !important;
}
.area-label {
    min-width: 45% !important;
    max-width: 45% !important;
    text-align: left;
}
.button-reload {
    min-width: 17% !important;
    max-width: 17% !important;
    align-items: left;
}