.id-label {
    min-width: 10% !important;
    max-width: 10% !important;
}
.siglas-label {
    min-width: 15% !important;
    max-width: 15% !important;
}
.lugar-label {
    min-width: 18% !important;
    max-width: 24% !important;
}
.fecha-label {
    min-width: 45% !important;
    max-width: 55% !important;
    text-align: center;
}
.salida-label {
    min-width: 40% !important;
    max-width: 50% !important;
    text-align: center;
}
ion-title {
    text-align: center;
}
